@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header>div{
    margin-left: 100px;
    display: flex;
    padding-bottom: 30px;
    padding-top: 20px;
}

header ul{
    display: flex;
    list-style: none;
    padding-top: 10px;
}

header a:hover{
    color: #5763e8;
}

header a{
    text-decoration: none;
    font-family: 'Genos';
    margin-left: 100px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

#titulo{
    font-family: 'Genos';
    font-size: 32px;
    display: flex;
    gap: 10px;
    font-weight: 800;
}


#titulo p{
    color: #5763e8;
}

main{
    background-image: linear-gradient(90deg,
    #2f0078 0%,
    #5b3e86 50%,
    #935be6 100%);
}

#habilidades{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-template-rows: 100px 500px 100px;
}

#front{
    background-color: #ffffff;
    grid-column: 2/3;
    grid-row: 2;
    border-radius: 20px;
}

#back{
    background-color: #ffffff;
    grid-column: 4/5;
    grid-row: 2;
    border-radius: 20px;
}

#bd{
    background-color: #ffffff;
    grid-column: 6/7;
    grid-row: 2;
    border-radius: 20px;
}

#front>img{
    height: 60px;
    width: 70px;
    margin: 30px 100px 30px 100px;
}

#back>img{
    height: 50px;
    width: 60px;
    margin: 30px 100px 30px 100px;
}

#bd>img{
    height: 50px;
    width: 60px;
    margin: 30px 100px 30px 100px;
}

.titulos{
    font-family: 'Genos';
    font-size: 24px;
    text-align: center;
}

.linguagens, .softwares{
    font-family: 'Lexend Exa';
    font-family: 20px;
    margin: 20px 80px 20px 80px;
}

footer>div{
    display: grid;
    grid-template-columns: 0.7fr 1fr 1.5fr 1fr 0.7fr;
    grid-template-rows: 30px 100px 50px;
    font-family: 'Lexend Exa';
}

/*footer>div{
    margin: 50px 0 0 150px;
}*/

#email-footer{
    grid-column: 2;
    grid-row: 2;
}

#email-footer ul{
    list-style: none;
}

#email-footer p{
    margin-top: 20px;
}

#feito{
    grid-column: 3;
    grid-row: 3;
    font-weight: 200;
}

#curriculo a{
    color: #370029;
}


#redes-sociais{
    display: flex;
    gap: 30px;
    list-style: none;
}

#redes-sociais>li>img{
    height: 35px;
    width: 35px;
}

#redes-sociais{
    grid-column: 4;
    grid-row: 2;
}


#toggle-theme {
    background-color: #ffffff;
     border: none;
     border-radius: 5px;
     padding: 10px;
     cursor: pointer;
     transition: background-color 0.3s, color 0.3s;
 }

 body.dark #toggle-theme {
    background-color: #07113a; /* Cor do fundo para o tema escuro */
    color: #E0E0E0;
}

body.dark {
    background-color: #07113a;
    color: #E0E0E0;
}
 
body.dark main {
    background-image: none;
    background-color: #07113a;
}

body.dark #paginas a {
    color: #E0E0E0;
}


 body.dark #curriculo a {
    color: #ff95fc;
}

 #toggle-theme img {
    height: 30px;
    width: 40px;
}

body.dark footer {
    background-color: #000000; /* Azul para o tema escuro */
}

#redes-sociais img {
    transition: filter 0.3s; /* Transição suave para a mudança de cor */
}

body.dark #redes-sociais img {
    filter: brightness(0) invert(1); /* Muda os ícones para branco no tema escuro */
}
 
body.dark #titulo h1{
    color: #000;
}

 body.dark header {
    background-color: #ffffff; 
    color: #000; 
}

body.dark header a {
    color: #000; 
}

body.dark header #titulo{
    font-family: 'Genos';
    font-size: 32px;
    display: flex;
    gap: 10px;
    font-weight: 800;
}

body.dark #titulo p{
    color: #5763e8;
}

body.dark #titulo h1{
    color: #000000;
}

body.dark #habilidades h2{
    color: #000;
}

body.dark #habilidades li{
    color: #000;
}

body.dark #habilidades div{
    background-color: #450059;
}

body.dark #habilidades h2{
    color: #ffffff;
}

body.dark #habilidades li{
    color: #ffffff;
}